@charset "ISO-8859-1";
*{
	font-family:'Lato','sans-serif';
}

body{
	background-color:#567DF4;

}

.signup-div{
	margin:100px auto;
	width: 350px;
	padding: 60px;
	background-color:#FFFFFF;
	
}

.logo{
	background-color:#FFFFFF;
	width:150px;
	height:150px;
	border-radius:50%;
	margin:8 auto;
	margin-bottom:10px;
}

.logo img{
	width:100%;
}

.title, .subtitle{
	text-align:center;
}

.title{
	font-weight:bolder;
	font-size:35px;
}

.subtitle{
	font-size:18px;
}

.form{
	width:100%;
	margin-top:30px;
}



.fname, .lname, .dob, .email, .phone{
	display:block;
	border-radius:38px;
	border:1px solid rgba(0,0,0,0.2);
	padding:10px;
	margin:10px 0;
	
}


button.signup-btn{
	width:100%;
	padding:12px;
	border:none;
	font-size:18px;
	border-radius:30px;
	background-color:#567DF4;
	color:#fff;
	margin-bottom:5px;
}

button.signup-btn:hover{
	background-color:#3C57A8;
}

.sign-in{
	text-align:center;
}

a{
	text-decoration:none;
	color:#505050;
}